<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-4">

            <!-- CARD FORM -->
            <div class="card p-5">

                <!-- LOGO -->
                <div class="text-center mb-4">
                    <img class="logo" src="assets/images/logo.png" alt="logo">
                </div>
                
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                    <!-- USERNAME -->
                    <div class="mb-4 mt-4">
                        <input class="form-control" type="text" placeholder="Username" formControlName="username">
                    </div>

                    <!-- PASSWORD -->
                    <div class="mb-4">
                        <input class="form-control" type="password" placeholder="Password" formControlName="password">
                    </div>

                    <!-- CONFIRM PASSWORD -->
                    <div class="mb-4">
                        <input class="form-control" type="password" placeholder="Confirm Password" formControlName="confirmPassword">
                        <small *ngIf="registerForm.errors?.['passwordsMismatch']" class="text-danger">
                            The passwords do not match.
                        </small>
                    </div>
                    
                    <!-- ROLE -->
                    <div class="mb-4">
                        <select class="form-select" formControlName="roleId">
                            <option value="">Select a role</option>
                            <option *ngFor="let role of roles" [value]="role.id">
                                {{ role.name }}
                            </option>
                        </select>
                    </div>
                    
                    <!-- SUBMIT -->
                    <button class="btn btn-success w-100" type="submit" [disabled]="registerForm.invalid">Sign Up</button>
                    
                    <!-- ERROR -->
                    <div class="error" *ngIf="error">
                        {{ error }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>