<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Username</label>
        <input type="text" formControlName="username">
    </div>

    <div>
        <label>Password</label>
        <input type="password" formControlName="password">
    </div>

    <div>
        <label>Role</label>
        <select formControlName="roleId">
            <option value="">Select a role</option>
            <option *ngFor="let role of roles" [value]="role.id">
                {{ role.name }}
            </option>
        </select>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Sign Up</button>

    <div class="error" *ngIf="error">
        {{ error }}
    </div>
</form>
