.shared-card-header {
    background-color: #ffffff;
    padding: 1rem;
    border-bottom: 1px solid rgb(212, 208, 208);
    box-shadow: 
        0 2px 4px rgba(0, 0, 20, 0.08),        
        0 6px 12px rgba(0, 0, 20, 0.08);
}

.shared-card-header.bg-custom {
    background-color: #f1f5f9 !important;
}