<div class="sidebar" id="sidebar">
  <div class="sidebar__logo">
    <a href="#"><img class="logo" src="assets/images/logo.png" alt="logo"></a>
  </div>
  <hr>

  <div class="sidebar__user">
    <img class="sidebar__user__img">
    <p class="sidebar__user__name">
      Admin
    </p>
  </div>
</div>

<div class="navbar">
  <i class="icon-hamburger" id="menuToggle"></i>
  <h4>My Shop Overview</h4>
  <div class="icons">
    <a href="#"><i class="icon-search"></i></a>
    <i class="icon-bell"></i>
    <li class="user-menu" (click)="toggleMenu()">
      <i class="icon-user"></i>
      <ul *ngIf="isMenuOpen" class="submenu">
        <li (click)="logout()" class="text-center">Logout</li>
      </ul>
    </li>
  </div>
</div>
<br />