<div class="sidebar" id="sidebar">

  <h4>My Shop</h4>
  <p>All Products Portal</p>
  <small>KMB/></small>
  <hr />

  <a href="#"><i class="icons icon-dashboard"></i><span class="icon__name">Dashboard</span></a>
  <a href="#"><i class="icons icon-chart"></i><span class="icon__name">Analytics</span></a>
  <a href="#"><i class="icons icon-products"></i><span class="icon__name">Products</span></a>
  <a href="#"><i class="icons icon-settings"></i><span class="icon__name">Settings</span></a>
</div>

<div class="navbar">
  <i class="icon-hamburger" id="menuToggle"></i>
  <h4>My Shop Overview</h4>
  <div class="icons">
    <i class="icon-search"></i>
    <i class="icon-bell"></i>
  </div>
</div>
<br />
