<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="p-4">
    <div class="mb-3">
        <label class="form-label">Product Name</label>
        <input type="text" class="form-control" formControlName="name">
        <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="text-danger">
            Product name is required.
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="3" formControlName="description"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="number" class="form-control" formControlName="price">
    </div>

    <div class="mb-3">
        <label class="form-label">Stock</label>
        <input type="number" class="form-control" formControlName="stock">
    </div>

    <div class="mb-3">
        <label class="form-label">Availability</label>
        <select class="form-select" formControlName="isAvailable">
            <option [value]="true">Available</option>
            <option [value]="false">Not Available</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Category</label>
        <select class="form-select" formControlName="categoryId">
            <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
        </select>
    </div>

    <button class="btn btn-success mt-3" type="submit" [disabled]="prosuctForm.invalid">Add Product</button>
</form>