<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="container mt-4" enctype="multipart/form-data">
    <!-- CATEGORY -->
    <div class="mb-3">
        <label class="form-label">Select a category</label>
        <select class="form-select" formControlName="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
        <div *ngIf="productForm.get('categoryId')?.invalid && productForm.get('categoryId')?.touched" class="text-danger">
            Category is required.
        </div>
    </div>
    
    <!-- NAME -->
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name">
        <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="text-danger">
            Product name is required.
        </div>
    </div>

    <!-- STOCK -->
    <div class="mb-3">
        <label class="form-label">Stock</label>
        <input type="number" class="form-control" formControlName="stock">
        <div *ngIf="productForm.get('stock')?.hasError('min')" class="text-danger">
            Stock cannot be negative.
        </div>
    </div>

    <!-- PRICE -->
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="number" class="form-control" formControlName="price" [disabled]="isPriceDisabled">
        <div *ngIf="productForm.get('price')?.enabled && productForm.get('price')?.hasError('min')" class="text-danger">
            Price must be >= 0.
        </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="mb-3">
        <textarea class="form-control" rows="3" formControlName="description" placeholder="Description"></textarea>
    </div>

    <!-- IMAGES -->
    <div class="mb-3">
        <label class="form-label">Images (max 10)</label>
        <input type="file" class="form-control" (change)="onImageSelected($event)" multiple>
    </div>

    <!-- IMAGE PREVIEW -->
     <div class="mb-3 d-flex flex-wrap gap2">
        <img *ngFor="let img of imagePreviews" [src]="img" class="preview-img">
     </div>

    <!-- SUBMIT -->
    <button class="btn btn-success mt-3 w-100" type="submit" [disabled]="productForm.invalid">Add Product</button>
</form>
