.content {
    /* OVERFLOW */
    position: relative;
    height: calc(100vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    /* OVERFLOW */
    
    margin-left: 238px;
    margin-top: 50px;
    padding-top: 31px;

    /* COLLAPSED */
    transition: margin-left 0.3s ease;
    
}

/* COLLAPSED */
.collapsed .content {
    margin-left: 68px;
}