.content {
    /* OVERFLOW */
    position: relative;
    height: calc(100vh - 0px);
    overflow-y: auto;
    overflow-x: hidden;
    /* OVERFLOW */

    padding-top: 32px;
    margin-left: 250px;
    margin-top: 50px;


    /* COLLAPSED */
    transition: margin-left 0.3s ease;
    
}

/* COLLAPSED */
.collapsed .content {
    margin-left: 80px;
}