.content {
    width: 100vw;
    background-color: #f4f7f9;
    height: 100vh;
    position: relative;
    z-index: -1;
}

/* DIV BLUE FOR Z-INDEX */
.blue {
    height: 200px;
    background: #054ea8;
    position: absolute;
    margin: 0;
    width: 100vw;
    z-index: 20;
}