<form [formGroup]="productForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="row">
        <!-- COLUMN 1 -->
        <div class="col-lg-8 col-12">
            <!-- Card 1 -->
            <app-card customClass="custom-card-mb">
                <!-- Card body -->
                <div class="card-body">
                    <div>
                        <!-- Product name -->
                        <div class="mb-3">
                            <label class="form-label">Product Name</label>
                            <input class="form-control" formControlName="name">
                            <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="text-danger">
                                Product name is required.
                            </div>
                        </div>

                        <!-- Description -->
                        <div>
                            <label class="form-label">Product Description</label>
                            <textarea class="form-control" rows="3" formControlName="description"></textarea>
                        </div>
                    </div>
                </div>
            </app-card>

            <!-- Card 2 -->
            <app-card customClass="custom-card-mb">
                <!-- Card body -->
                <div class="card-body">
                    <div>
                        <!-- Product image -->
                        <div class="mb-4">
                            <!-- Heading -->
                            <h5 class="mb-4">Product Gallery</h5>
                            <label class="form-label">Product Image (max 10)</label>
                            <input type="file" class="form-control" (change)="onImageSelected($event)" accept=".jpg,.jpeg,.png" multiple>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <img *ngFor="let img of imagePreviews" [src]="img" class="img-thumbnail" style="width: 80px;">
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
        </div>

        <!-- COLUMN 2 -->
        <div class="col-lg-4 col-12">
            <!-- Card 1 -->
            <app-card customClass="custom-card-mb">
                <div class="card-body">
                    <div>
                        <!-- Product code -->
                        <div class="mb-3">
                            <label class="form-label">Product Code</label>
                            <input class="form-control" id="productCode" formControlName="productCode">
                            <div *ngIf="productForm.get('productCode')?.touched && productForm.get('productCode')?.invalid" class="text-danger">
                                <div *ngIf="productForm.get('productCode')?.errors?.['required']">Product code is required</div>
                                <div *ngIf="productForm.get('productCode')?.errors?.['minlength']">Must be at leat 8 characters</div>
                                <div *ngIf="productForm.get('productCode')?.errors?.['maxlength']">Must be no more than 20 characters</div>
                                <div *ngIf="productForm.get('productCode')?.errors?.['pattern']">Only uppercase letters, numbers and dashes are allowed.</div>
                            </div>
                        </div>

                        <!-- Product sku -->
                        <div class="mb-3">
                            <label class="form-label">Product SKU</label>
                            <input class="form-control" id="sku" formControlName="sku">
                            <div *ngIf="productForm.get('sku')?.touched && productForm.get('sku')?.invalid" class="text-danger">
                                <div *ngIf="productForm.get('sku')?.errors?.['required']">SKU is required.</div>
                                <div *ngIf="productForm.get('sku')?.errors?.['minlength']">SKU must be at least 8 characters.</div>
                                <div *ngIf="productForm.get('sku')?.errors?.['maxlength']">SKU must be no more than 20 characters.</div>
                                <div *ngIf="productForm.get('sku')?.errors?.['pattern']">SKU must contain only uppercase letters and numbers.</div>
                            </div>
                        </div>

                        <!-- Product category -->
                        <div class="mb-3">
                            <label class="form-label">Category</label>
                            <select class="form-select" formControlName="categoryId">
                                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                            </select>
                            <div *ngIf="productForm.get('categoryId')?.invalid && productForm.get('categoryId')?.touched" class="text-danger">
                                Category is required.
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>

            <!-- Card 2 -->
            <app-card customClass="custom-card-mb">
                <div class="card-body">
                    <div>
                        <!-- Product stock -->
                        <div class="mb-3">
                            <label class="form-label">Stock</label>
                            <input type="number" class="form-control" formControlName="stock" min="0">
                            <div *ngIf="productForm.get('stock')?.hasError('min')" class="text-danger">
                                Stock cannot be negative.
                            </div>
                        </div>

                        <!-- Product price -->
                        <div class="mb-3">
                            <label class="form-label">Regular Price</label>
                            <input type="number" class="form-control" formControlName="price" step="0.01" min="0">
                            <div *ngIf="productForm.get('price')?.hasError('required') && productForm.get('price')?.touched" class="text-danger">
                                Price is required.
                            </div>
                            <div *ngIf="productForm.get('price')?.hasError('min')" class="text-danger">
                                Price must be 0 or greater.
                            </div>
                            <div *ngIf="productForm.get('price')?.touched && productForm.get('price')?.hasError('pattern')" class="text-danger">
                                Price must be a valid Euro amount (e.g. 10.99).
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>

            <!-- Submit -->
             <div class="d-grid">
                <button class="btn btn-success" type="submit" [disabled]="productForm.invalid">{{ isEditMode ? 'Update' : 'Add' }} Product</button>
             </div>
        </div>
    </div>  
</form>

<!-- TOAST -->
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;" *ngIf="showToast">
    <div class="toast align-items-center text-white bg-success border-o show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Product {{ isEditMode ? 'updated' : 'added' }} successfully!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="showToast = false" aria-label="Close"></button>
        </div>
    </div>
</div>