<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <!-- COLUMN 1 -->
        <div class="col-lg-8 col-12">
            <!-- Card 1 -->
            <div class="card mb-4">
                <!-- Card body -->
                <div class="card-body">
                    <div>
                        <!-- Product name -->
                        <div class="mb-3">
                            <label class="form-label">Product Name</label>
                            <input class="form-control" formControlName="name">
                        </div>

                        <!-- Description -->
                        <div>
                            <label class="form-label">Product Description</label>
                            <textarea class="form-control" rows="3" formControlName="description"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card mb-4">
                <!-- Card body -->
                <div class="card-body">
                    <div>
                        <!-- Product image -->
                        <div class="mb-4">
                            <!-- Heading -->
                            <h5 class="mb-4">Product Gallery</h5>
                            <label class="form-label">Product Image (max 10)</label>
                            <input type="file" class="form-control" (change)="onImageSelected($event)" multiple>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <img *ngFor="let img of imagePreviews" [src]="img" class="img-thumbnail" style="width: 80px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- COLUMN 2 -->
        <div class="col-lg-4 col-12">
            <!-- Card 1 -->
            <div class="card mb-4">
                <div class="card-body">
                    <div>
                        <!-- Product code -->
                        <div class="mb-3">
                            <label class="form-label">Product Code</label>
                            <input class="form-control" formControlName="productCode">
                        </div>

                        <!-- Product sku -->
                        <div class="mb-3">
                            <label class="form-label">Product SKU</label>
                            <input class="form-control" formControlName="sku">
                        </div>

                        <!-- Product category-->
                        <div class="mb-3">
                            <label class="form-label">Category</label>
                            <select class="form-select" formControlName="categoryId">
                                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card mb-4">
                <div class="card-body">
                    <div>
                        <!-- Product stock -->
                        <div class="mb-3">
                            <label class="form-label">Stock</label>
                            <input class="number" class="form-control" formControlName="stock">
                        </div>

                        <!-- Product price -->
                        <div class="mb-3">
                            <label class="form-label">Regular Price</label>
                            <input class="number" class="form-control" formControlName="price">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Submit -->
             <div class="d-grid">
                <button class="btn btn-success" type="submit" [disabled]="productForm.invalid">{{ isEditMode ? 'Update' : 'Add' }} Product</button>
             </div>
        </div>
    </div>  
</form>

<!-- TOAST -->
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;" *ngIf="showToast">
    <div class="toast align-items-center text-white bg-success border-o show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Product {{ isEditMode ? 'updated' : 'added' }} successfully!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="showToast = false" aria-label="Close"></button>
        </div>
    </div>
</div>