<div class="content">
  <p>Your sales increased by 4.25% and revenue increased by 5.12%.</p>
  <div class="row">
    <div class="col-md-3">
      <div class="card p-3 text-center">
        <h5>Income</h5>
        <h3>$25,300</h3>
        <small class="text-danger">-2.65% less sales than usual</small>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card p-3 text-center">
        <h5>Orders</h5>
        <h3>12,514</h3>
        <small class="text-success">+5.50% more visitors than usual</small>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card p-3 text-center">
        <h5>Activity</h5>
        <h3>29,232</h3>
        <small class="text-danger">-4.25% less sales than usual</small>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card p-3 text-center">
        <h5>Revenue</h5>
        <h3>$83,300</h3>
        <small class="text-success">+8.35% more earnings than usual</small>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
        <div class="card p-3">
            <h5>Total Revenue</h5>
            <canvas id="revenueChart"></canvas>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-3">
            <h5>Sales / Revenue</h5>
            <canvas id="salesChart"></canvas>
        </div>
    </div>
  </div>
</div>
