.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0;
}

.card.a {
    height: 150px;
    background-color: blue;
}

.card.b {
    height: 600px;
    background-color: red;
}

.card.c {
    height: 500px;
    background-color: green;
}

.card.a,
.card.b,
.card.c {
    border-radius: 10px;
}

/*.card {
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
*/
    /* COLLAPSED */
    /*height: 100%;

}*/

/* COLLAPSED */
canvas {
    width: 100% !important;
    /* height: visible !important; */
    max-height: 300px;
}

/* COLLAPSED */
/* .chart-wrapper,
.chart-wrapper-donut {
    height: 100%;
    min-height: 250px;
}*/

/* COLLAPSED */
@media (max-width: 768px) {
    .chart-wrapper, .chart-wrapper-donut {
        min-height: 200px;
    }

    canvas {
        max-height: 200px;
    }
}

.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    border-top: 6px solid #4e73df;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}