<div class="container-fluid">
  <!-- ROW 1 -->
  <div class="row">
    <div class="col">
      <div class="card a">

      </div>
    </div>
    <div class="col">
      <div class="card a">

      </div>
    </div>
    <div class="col">
      <div class="card a">

      </div>
    </div>
    <div class="col">
      <div class="card a">

      </div>
    </div>
  </div>
  <!-- ROW 1 -->

  <!-- ROW 2 -->
  <div class="row">
    <div class="col-8">
      <div class="card b">

      </div>
    </div>

    <div class="col-4">
      <div class="card b">

      </div>
    </div>
  </div>
  <!-- ROW 2 -->

  <!-- ROW 3 -->
  <div class="row">
    <div class="col-4">
      <div class="card c">

      </div>
    </div>

    <div class="col-8">
      <div class="card c">
        
      </div>
    </div>
  </div>
  <!-- ROW 3 -->



  <div class="row">
    <div class="col-2">
      <div class="card">
        <div class="spinner-container" *ngIf="loading">
          <div class="spinner"></div>
        </div>
        <div *ngIf="!loading">
          <h6 class="text-center">Sales by Category</h6>
          <canvas #categoryChart></canvas>
        </div>
      </div>
    </div>

    <div class="col-10">
      <div class="card">
        <div class="spinner-container" *ngIf="loading">
          <div class="spinner"></div>
        </div>
        <div *ngIf="!loading">
          <h6 class="text-center">User Engagement</h6>
          <canvas #areaChart></canvas>
        </div>
      </div>
    </div>

  </div>
  <!-- ROW 1 -->

  <!-- ROW 2 -->
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="spinner-container" *ngIf="loading">
          <div class="spinner"></div>
        </div>
        <div *ngIf="!loading">
          <h6 class="text-center">Performance Score</h6>
          <canvas #radarChart></canvas>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="spinner-container" *ngIf="loading">
          <div class="spinner"></div>
        </div>
        <div *ngIf="!loading">
          <h6 class="text-center">Traffic Trend</h6>
          <canvas #trafficChart></canvas>
        </div>
      </div>
    </div>

  </div>
  <!-- ROW 2 -->

  <!-- ROW 3 -->
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="spinner-container" *ngIf="loading">
          <div class="spinner"></div>
        </div>
        <div *ngIf="!loading">
          <h6 class="text-center">User Types</h6>
          <canvas #pieChart></canvas>
        </div>
      </div>
    </div>

    <div class="col-9">
      <div class="card">
        <div class="spinner-container" *ngIf="loading">
          <div class="spinner"></div>
        </div>
        <div *ngIf="!loading">
          <h6 class="text-center">Monthly Revenue</h6>
          <canvas #revenueChart></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- ROW 3 -->

  <!-- ROW 4 -->
   <div class="row mb-2">
    <div class="col-9">
      <div class="card">
        <div class="spinner-container" *ngIf="loading">
          <div class="spinner"></div>
        </div>
        <div *ngIf="!loading">
          <h6 class="text-center">Orders Comparison</h6>
          <canvas #stackedChart></canvas>
        </div>
      </div>
    </div>
   </div>
  <!-- ROW 4 -->
</div>