<p></p>
<div class="row">
  <div class="col-md-3">
    <div class="card p-3 text-center">
      <small class="text-danger"></small>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card p-3 text-center">
      <small class="text-success"></small>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card p-3 text-center">

      <small class="text-danger"></small>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card p-3 text-center">
      <small class="text-success"></small>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
      <div class="card p-3">
          <canvas id="revenueChart"></canvas>
      </div>
  </div>
  <div class="col-md-6">
      <div class="card p-3">
          <h5></h5>
          <canvas id="salesChart"></canvas>
      </div>
  </div>
</div>

