.card-header {
    background-color: #FFFFFF;
}

.card-body > a {
    text-decoration: none;
}

.icons {
    color: rgb(68, 178, 178);
    font-size: 20px;
}

.other-icons {
    font-size: 13px;
}

/* COLLAPSED
canvas {
    width: 100% !important;
    /* height: visible !important;
    max-height: 300px;
}*/

/* COLLAPSED
@media (max-width: 768px) {
    .chart-wrapper, .chart-wrapper-donut {
        min-height: 200px;
    }

    canvas {
        max-height: 200px;
    }
}*/