img {
    object-fit: cover;
    border-radius: 6px;
}

.table td {
    vertical-align: middle;
}

.badge {
    padding: 5px 12px;
    font-size: 0.85rem;
    border-radius: 10px;
}

.add-product {
    color: white;
}

.modify {
    color: #94A3B8;
    cursor: pointer;
}