<div>
    <h4 class="page-title">{{ pageTitle }}</h4>
    <a [routerLink]="'/administration/add-product'">Add Product</a>
</div>

<table class="table table-hover table-bordered align-middle text-center">
    <thead class="table-light">
        <tr>
            <th><input type="checkbox"></th>
            <th>Product</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td><input type="checkbox"></td>
            <td class="d-flex align-items-center gap-3">
                <img [src]="product.imageUrl || 'assets/images/default.png'" alt="Image" width="40" height="40" class="rounded">
                <span>{{ product.productName }}</span>
            </td>
            <td>{{ product.categoryName }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>
                <span class="badge" [ngClass]="product.isActive ? 'bg-success' : 'bg-danger'">
                    {{ product.isActive ? 'Active' : 'Deactivate' }}
                </span>
            </td>
            <td>
                <i class="icon-edit mx-1 text-warning"></i>
                <i class="icon-trash mx-1 text-danger"></i>
            </td>
        </tr>
    </tbody>
</table>