.shared-card {
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    border: 0;
    box-shadow: 
        0 2px 4px rgba(0, 0, 20, 0.08),
        0 6px 12px rgba(0, 0, 20, 0.08);
    padding: 1rem;
}